body {
    margin: 0;
    padding: 0;
}

.link {
    display: flex;
}

h4 {
    margin: 8px;
}

.header-elements {
    display: flex;
    justify-content: space-between;
}

.header-background {
    background-color: #1F2937;
    padding: 0px 100px 100px 100px;
}

.header-elements2 {
    display: flex;
    
}